{% extends "mytemplate.html"%}

{% block bodycontent%}

  <div class="topnav">
      <a href="/">Home</a>
      <a class="active"href="/about">About</a>
      <a href="/newuser">Register</a>
      <a href="/login">Login</a>
       <a href="/newhouse">New House</a>
      <a  href="/customer">Customer</a>
    </div>
    <div class="h1">
      <pre>
        NAME:Pavan D K
        FRONTEND DEVELOPER:Pavan D K
        BACKEND DEVELOPER:PAVAN D K
        CONTACT NUMBER:8710876637
      </pre>
      </div>
  <div style="padding-left:16px">
  </div>

  <div class="footer">
    <p>Copyright © House Price Predictor | 2022</p>
  </div>
 {% endblock %}