{% extends "mytemplate.html"%}

{% block bodycontent%}
 <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/about">About</a>
      <a href="/newuser">Register</a>
      <a href="/login">Login</a>
      <a href="/newhouse">New House</a>
      <a  href="/customer">Customer</a>

    </div>
    <div class="h1">
        <h1>Welcome To House Price Predictor</h1>
      </div>
  <div style="padding-left:16px">
  </div>

  <div class="footer">
    <p>Copyright © House Price Predictor | 2022</p>
  </div>
 {% endblock %}